@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF") format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Display", sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: white;
}

section {
    width: 390px;
    height: 844px;
    background-image: url("background-image.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.weather-box {
    width: 390px;
    height: 183px;
    position: absolute;
    z-index: 2;
    /* Talvez preciso arrumar o margin-top */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.weather-box .titulo {
    font-weight: 400;
    font-size: 34px;
}

.weather-box .temperatura {
    /* Ajustar espessura da fonte */
    font-weight: 100;
    font-style: italic;
    font-size: 96px;
}

.weather-box .weather-desc {
    font-weight: 500;
    font-size: 20px;
    color: #EBEBF5;
}

.weather-sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.weather-sub p {
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.house-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.house-box .house {
    width: 390px;
    height: 390px;
}

.modal-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.modal-box .modal {
    width: 390px;
    height: 325px;
    border-radius: 44px 44px 0px 0px;
    background:linear-gradient(
        to bottom right,
        rgba(46, 51, 90, 1) 0%,
        rgba(28, 27, 51, 1) 100%
    );         
}

.tapBar {
    width: 390px;
    height: 88px;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.tapBar .back {
    width: 390px;
    height: 88px;
    background: linear-gradient(to bottom, rgba(58, 58, 106, 1) 0%, rgba(37, 36, 76, 0) 100%);
}