body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    width: 390px;
    height: 844px;
    background-image: url("background-image.png");
    background-size: cover;
    background-position: center;
}

.tapBar {
    width: 390px;
    height: 88px;
    position: absolute;
    bottom: 0;
}

.tapBar .back {
    width: 390px;
    height: 88px;
    background: linear-gradient(to bottom, rgba(58, 58, 106, 1) 0%, rgba(37, 36, 76, 0) 100%);
}